<div class="form-group">
    <mat-toolbar color="primary">
        <ng-container *ngIf="loggedInUsername !== ''">
            <div class="alert alert-success">
              Name: {{ name }} - Username: {{ loggedInUsername }} - Role: {{ role }}
            </div>
          </ng-container>
        <span class="fill-right-space"></span>
        <button mat-button type="button" (click)="logout()">Logout</button>
    </mat-toolbar>

    <a *ngIf="isManager" routerLink="/restricted">Restricted Page</a>

</div>